.banner{
    align-items:flex-start;
    height: 20rem; 
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../img/hongo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-end;
    padding: 3rem 0;
}

.banner__title{
    color: var(--color-letra-blaco);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    margin: 0 10%;
}

.banner__paragraph{
    color: var(--color-letra-blaco);
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 0 10%;
}

.banner__console{
    background-color: var(--color-boton);
    border: none;
    border-radius: 10px;
    color: var(--color-letra-blaco);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    gap: 10px;
    margin: 0 10%;
    padding: 16px;
}

@media screen and (max-width: 425px){
    .banner{
        height: 10rem;
    }

    .banner__title{
        font-weight: 700;
        font-size: 22px;
        line-height: 26px; 
    }

    .banner__paragraph{
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
    }

    .banner__console{
        padding: 8px;
    }
}
