.menu{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10%;
    padding: 32px 0px;
}

.menu__beginning{
    background: none;
    border: none;
}

.menu__header{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.menu__logo{
    padding-right: 2rem;
}

.menu__search{
    align-items: center;
    background-color: var(--background-search);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    padding: 8px 16px;
    width: 20rem;

}

.menu__text{
    background-color: transparent;
    border: none;

}

.menu__text:focus{
    outline: none;
}

.menu__login{
    background-color: #FFFFFF;
    border: 2px solid var(--color-boton);
    border-radius: 10px;
    color: var(--color-boton);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px; 
    gap: 10px;
    padding: 1rem 2.5rem;
}

.menu__boton-sec{
    background: none;
    border: none;
    display: none;
    width: 8%;
}

.menu__accion-sec{
    display: none;
}

.menu__boton{
    background: none;
    border: none;
}

@media screen and (max-width: 768px){
    .menu{
        margin: 0 2%;
    }

    .menu__logo{
        padding-right: 0rem;
        width: 80%;
    }

    .menu__search{
        width: 15rem;
    }
}

@media screen and (max-width: 425px){
    .menu__search{
        display: none;
    }

    .menu__header{
        width: 20%;
        margin-right: 7%;
    }

    .menu__boton-sec{
        display: flex;
        margin-right: 2%;
    }

    .menu__accion-sec{
        display: flex;
    }

    .menu__logo{
        width: 400%;
    }

    .menu__beginning{
        width: 60%;
    }

    .menu__search{
        width: 1rem;
    }
}