.utilities{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4% 10%;
}

.utilities__info{
    align-content: space-between;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
}

.utilities__info__text{
    color: var(--color-letra-green);
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 0.5rem;
}

.utilities__contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.utilities__contact__title{
    color: var(--color-letra-green);
    font-weight: 1000;
    font-size: 16px;
    padding-bottom: 1rem;
}

.utilities__contact__name{
    background: #FFFFFF;
    border: none;
    border-radius: 4px;
    height: 20px;
    margin-bottom: 1rem;
}

.utilities__contact__message{
    background: #FFFFFF;
    border: none;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.utilities__contact__send{
    background-color: var(--color-boton);
    border: none;
    border-radius: 10px;
    color: var(--color-letra-blaco);
    width: 10rem;
    padding: 16px;
}
